body{
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
}

h1{
  text-align: center;
  text-shadow:1.2px 1.5px rgb(167, 182, 167);
}

.todo-wrapper{
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 5px 5px 10px rgb(167, 182, 167);
}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(87, 86, 86);
  padding-bottom: 25px;
  margin-bottom: 25px;

}

.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-item input{
  padding: 10px;
  border:none;
  width: 250px;
}

.todo-input-item input:focus{
  outline: none;
  outline:2px solid rgb(225, 118, 56);/*zoom effect will be lost doing to this border to outline*/
}

.primaryBtn{
  background-color: rgb(225, 118, 56);
  color:white;
  border:none;
  border-radius: 0px;
  margin-top: 30px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primaryBtn:hover{
  background-color: rgb(179, 176, 176);
}

.secondaryBtn{
  background-color: rgb(179, 176, 176); 
  color:white;
  border:none;
  border-radius: 0px;
  margin-top: 30px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.active{
  background-color: rgb(225, 118, 56);
}

.todo-list{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.todo-list-item{
  background-color:  rgb(74, 72, 72);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgb(39, 38, 38);
}

.todo-list-item h3{
  font-size: 25px;
  color: rgb(225, 118, 56);
  font-weight: bold;
  margin: 0px;
}

.todo-list-item p{
  margin-top: 10px;
  color: #bdbcbc;
  font-size: 14px;
}

.icon{
  font-size: 35px;
  cursor: pointer;
}

.icon:hover{
  color: red;

}

.check-icon{
  font-size: 30px;
  cursor: pointer;
  color: rgb(225, 118, 56);
  margin-left: 10px;
  margin-bottom: 5px;
}

.check-icon:hover{
  color: rgb(177, 93, 45);
}
