body{
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
}
h1{
  text-align: center;
  text-shadow:1.2px 1.5px rgb(167, 182, 167);
}
.todo-wrapper{
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 5px 5px 10px rgb(167, 182, 167);
}